@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');


* {
  margin: 0;
}

.timeline{
  margin-top: 3.5rem;
  background-color: #06272786;
  min-height: 100vh;
}

.timeline-container{
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  grid-auto-rows: "auto"
}

.timeline-heading{
  font-family: 'Source Serif Pro', serif;
  padding-top: 3.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  gap: 1rem;
}
